html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 980px;
  margin: auto;
  margin-bottom: 3.75rem;
}

.text-center {
  text-align: center;
}
.homepage-banner {
  font-family: 'Lato', sans-serif;
  margin: 0 0 80px 0;
  padding: 6em 0 6em;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  line-height: 1.75;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}
.banner-content {
  text-align: center;
}
.banner-title {
  width: 90%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
}
.banner-description {
  width: 90%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
a {
  background: skyblue;
  border-radius: 7px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 35px;
}
a:hover {
  background: #c8c9cb;
}
p {
  text-align: justify;
}
@media (max-width: 767px) {
  .homepage-banner {
    margin: 0 0 40px;
    padding: 10em 0 6em;
  }
  .banner-title {
    font-size: 50px;
    line-height: 50px;
  }
}

.image-gallery {
margin-bottom: 3.75rem;
padding: 20px;
color: #72767b;
font-family: "Lato", sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.4;
line-height: 28px;
}
.gallery {
display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox; /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-justify-content: space-between;
justify-content: space-between;
}
.gallery-item {
-webkit-box-flex: 0 1 48%;
-moz-box-flex: 0 1 48%;
-webkit-flex: 0 1 48%;
-ms-flex: 0 1 48%;
flex: 0 1 48%;
}
.gallery-link {
margin-top: -20px;
text-transform: uppercase;
}
.gallery img {
margin-bottom: 1rem;
}
@media (max-width: 767px) {
.image-gallery {
  margin-bottom: 2rem;
}
.gallery-item {
  -webkit-box-flex: 100%;
  -moz-box-flex: 100%;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
}
}

.highlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
  @media (max-width: 767px) {
    .highlight {
      grid-template-columns: 1fr;
    }
    
  }

.default-slice {
      column-count: 1;
    }
.twoColumn {
  column-count: 2;
}

.quote blockquote {
  display: block;
  font-family: "Lora", Serif;
  font-size: 36px;
  font-style: italic;
  font-weight: normal;
  color: #484d52;
  letter-spacing: 1.14;
  line-height: 1.5em;
  text-align: center;
}
.quote blockquote:before,
.quote blockquote:after {
  color: #e9e9e9;
  content: open-quote;
  font-family: "Lora", Serif;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 0.1em;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: -0.3em;
}
.quote blockquote:after {
  content: close-quote;
}
.quote div {
  width: 300px;
  float: right;
  margin: -36px 0px 0px 0px;
}
.quote div cite {
  display: flex;
  line-height: 18px;
}
.quote div cite:before {
  content: "-";
  margin: 16px 4px 0px 0px;
}
@media (max-width: 767px) {
  .quote {
    font-size: 20px;
  }
}

.full-img {
  width: 980px;
  height: 500px;
}

.featured-image {
      width: 500px;
      height: 300px;
    }

.img-gallery {
  width: 350px;
  height: 300px;
}

